body {
    font-family: 'Poppins', sans-serif;
}

div {
    /* border: 1px black solid; */
}

/* * {
    box-sizing: border-box;
    /* margin: 0;
    border: 0;} */

*/ .container {
    margin: auto;
    padding: 5%;
    width: 100%;
    height: auto;
}

/* CODE TO MAKE THE PHOTOS ROUND */

.thumbnail {
    border-radius: 50%;
}

#title {
    margin: 20px;
    padding: 50px;
}

/* TRANSPARANT APPARENT BACKGROUNDS FOR TEXT OVER PHOTOS*/

.opaque {
    background: rgba(29, 31, 29, 0.65);
}

/* FONTS */

.poppins {
    font-family: 'Poppins', sans-serif;
}

.poppins-w {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* MARGIN STYLING */

.margin {
    margin: 30px;
}

.image_bar {
    background-image: url(https://lh3.googleusercontent.com/1jmWgAAzhzV93bGp40kSG8A7HQJCgMzSn4HBNZjS92mkFPX2Nh-bJ3IF_xivfRU-9Cts3BBF1gByJ_iCOfusZ3_PpUzsdJqTAbw9IqjTMpjN2xUu3Swx1XptpJnusxPvr5xPCuSdd8pyVYfxFzuJvdT8GbxDrMNr2ODSJBaN8Uib-ARmOmeDP0JCi4VfJmrQQOEAZTzNC4CSQJCEAS2GCiF6NFlIKa6t5ti7Xho-EuJeiKZzUPVo2Gb9PXw5GvNDh4B8psENC7LRg5hreMSyt0AKeHkp9tUWsQ3_g_TP0WSkY2OB1LmGk5lqO9QkQ6xNFQN1UujBzdrvbNW2qCvlBiLaNj1k0QO29FrD1yBaUSYzaNVM5ftJK2w1V6zf9xmOLbH3iNKh7dDJUj9po0-CU4IUwYK5CBbmIHb_T4jqOrhHpbQGs-me7JbcfubaqBc0e0fKLlvGTOmBPnCqIHiShoy2egH4oj5Vz7Tdv3cnESDbOhdkEN4nwEsqGkiVV5IlS7oftwPSNWbhfy9JJoZu68_FEJCZEZiYz5zhCkQC_cq1CuCYPtZAGTM6jnlxVOrNJ3MIfnVxd-KyqR9wlRww4Z0iTrAcMzRtZemx2-epr90_I0Ehzu8LcjH4wexD1BckYyZ9hV57Vwv13cMpyYMTn9MduDHIJuEwFF_xP665RoM=w1002-h751-no);
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    width: 100%;
    height: 700px;
    display: inline-block;
    overflow: hidden;
}

/* NAV STYLING */

.nav-link {
    font-size: 15px;
}

/* ABOUT PAGE */

.jumbotron {
    background: none;
    font-size: 70px;
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
}

/* WELCOME TEXT STYLING */

.wht-fnt {
    color: white;
}

.text-block {
    margin-top: 4%;
    margin-left: 17%;
    color: white;
    max-width: 980px;
    height: auto;
}

.card, .noborder {
    border: none;
}

.card-body {
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 35px;
    max-width: 980px;
    height: auto;
}

.card-text {
    font-size: 18px;
    line-height: 5px;
    padding: 35px, 5px, 35px, 5px;
    margin-left: 5%;
}

.inner-card-text {
    font-size: 18pxpx;
    padding: 4%;
    margin-bottom: 20px;
}

.contact-form {
    margin-left: 17%;
}

.input-container {
    margin-left: 10%;
    border-radius: 5px;
    /* border: 3px solid darkgray; */
    /* background-color: #f2f2f2; */
    padding: 20px;
    max-width: 980px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* BUTTON BORROWED FROM CODEPEN.COM! */

.button {
    display: initial;
    font-size: 1rem;
    line-height: 3.5em;
    margin: 5rem 6rem 5rem;
    padding: 1em 2.5em;
    background: gold;
    box-shadow: inset 0 -.125rem rgba(0, 0, 0, .2);
    color: black;
    border-radius: 5em;
    cursor: pointer;
    user-select: none;
    transform-origin: 100% 100%;
    &:focus {
        outline: 0;
    }
}

.shadow {
    margin-top: -.325rem;
    width: 100%;
    height: .75rem;
    /* background: radial-gradient(closest-side, gainsboro, transparent); */
    /* opacity: 0; */
}