div {
    border: 1px black solid;
}

* {
    box-sizing: border-box;
    /* margin: 0;
    border: 0; */
}

.container {
    margin: auto;
    padding: 5%;
    width: 100%;
    height: auto;
}

.thumbnail {
    border-radius: 50%;
}

#title {
    margin: 20px;
    padding: 50px;
}

#projects {
    padding: 30px;
}

/* TRANSPARANT APPARENT BACKGROUNDS FOR TEXT OVER PHOTOS*/

.opaque {
    background: rgba(29, 31, 29, 0.65);
}

/* MARGIN STYLING */

.margin {
    margin: 30px;
}

.image_bar {
    background-image: url(/assets/images/seattle_floor.jpg);
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    width: 100%;
    height: 700px;
    display: inline-block;
    overflow: hidden;
}

/* ABOUT PAGE */

.jumbotron {
    background: none;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* WELCOME TEXT STYLING */

.wht-fnt {
    color: white;
}

.text-block {
    margin-top: 4%;
    margin-left: 20%;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    height: auto;
}

.card {
    border: none;
    font-family: 'Poppins', sans-serif;
}

.card-body {
    margin-top: 2%;
    margin-bottom: 5%;
    line-height: 35px;
    max-width: 980px;
    height: auto;
}

.card-text {
    font-size: 24px;
    padding: 35px, 5px, 35px, 5px;
    margin-left: 5%;
}

.inner-card-text {
    font-size: 18pxpx;
    padding: 4%;
    margin-bottom: 20px;
}

.contact-form {
    margin-left: 20%;
}

/* BUTTON BORROWED FROM CODEPEN.COM! */

.button {
    display: initial;
    font-family: "Poppins";
    font-size: 1rem;
    line-height: 3.5em;
    margin: 5rem 6rem 5rem;
    padding: 1em 2.5em;
    background: gold;
    box-shadow: inset 0 -.125rem rgba(0, 0, 0, .2);
    color: black;
    border-radius: 5em;
    cursor: pointer;
    user-select: none;
    transform-origin: 100% 100%;
    &:focus {
        outline: 0;
    }
}

.shadow {
    margin-top: -.325rem;
    width: 100%;
    height: .75rem;
    /* background: radial-gradient(closest-side, gainsboro, transparent); */
    /* opacity: 0; */
}